<!DOCTYPE html>
<html>
<head>
    <title>Gesture Recognition</title>

    <style>

        body{
            background:#1f1f1f;
            color:white;
            text-align:center;
            font-family:Arial;
        }

        h1{
            margin-top:20px;
        }

        img{
            width:900px;
            border-radius:12px;
            border:4px solid #2ecc71;
            margin-top:20px;
        }

    </style>

</head>

<body>

<h1>AI Hand Gesture Recognition</h1>

<img src="/video_feed">

</body>
</html>
